@page
@model CartModel
@{
    ViewData["Title"] = "Winkelwagen";
}
<div style="background-color: white; padding: 20px; border-radius: 10px;">
<h1 style="
    text-align: center;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Black', sans-serif;
    font-size: 4em;
    color: springgreen
    letter-spacing: 2px;
    text-transform: uppercase;">
    your shoppingcart
</h1>

@if (Model.CartItems.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Aantal</th>
                <th>Prijs</th>
                <th>Subtotaal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>€ @item.Product.Price.ToString("0.00")</td>
                    <td>€ @((item.Product.Price * item.Quantity).ToString("0.00"))</td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Je winkelwagen is leeg.</p>

}
