@page
@model KE03_INTDEV_SE_1_Base.Pages.CheckoutModel
@{
    ViewData["Title"] = "Bestelling afronden";
}

<h1 style="
    text-align: center;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Black', sans-serif;
    font-size: 4em;
    color: #e60000;
    letter-spacing: 2px;
    text-transform: uppercase;">
    Bestelling afronden
</h1>

<div class="container py-5" style="background-color: white; color: black; border-radius: 10px;">

