@page
@model IndexModel
@{
    ViewData["Title"] = "Welkom bij Matrix.Inc!";
}
<h1 style="
    text-align: center;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Black', sans-serif;
    font-size: 4em;
    color: #e60000;
    letter-spacing: 2px;
    text-transform: uppercase;">
    Welcome to Matrix Inc!
</h1>

<img src="~/images/MatrixOffice.png" alt="Matrix Office" style="width:100%; max-height:400px; height:auto; margin-bottom:20px; border-radius:20px;" />

<div style="text-align: center; margin-top: 20px;">
    <a href="/ProductCatalog"
       style="
           background-color: #00f0ff;
           color: #e60000;  
           font-family: Impact, Haettenschweiler, 'Arial Black', sans-serif;
           padding: 36px 90px;
           font-size: 3.6rem;
           border-radius: 20px;
           text-decoration: none;
           display: inline-block;
           font-weight: bold;
       ">
        Shop
    </a>
</div>

