@page
@model KE03_INTDEV_SE_1_Base.Pages.OrderHistoryModel
@{
    ViewData["Title"] = "Ordergeschiedenis";
}

<h1>Ordergeschiedenis</h1>

@if (Model.Orders != null && Model.Orders.Any())
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Klant</th>
                <th>Datum</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Customer?.Naam @order.Customer?.Achternaam</td>
                <td>@order.OrderDate.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Er zijn nog geen bestellingen geplaatst.</p>
}

}
